/* Hero Styling */

#hero { 
    margin-bottom: -2em;
}

/* Nav Bar Styling */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #213C47;
}

.nav-pills .pill-2 .nav-link {
    background-color: #bdb975;
    color: #fff;
}

.nav-pills .pill-3 .nav-link {
    background-color: #688B99;
    color: #fff;
}

.section {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

/* Intro Shelf Styling */

#intro {
    color: #fff;
    background-color: #688B99 ;
}

/* Calculator shelf Styling */

#calculate {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-btn {background-color: #bdb975;
    border: #F0EFEB;
    color: #fff;
    margin-top: 2em;}

.table {
    text-align: center;
}

.table .header {
    background-color: #bdb975;
}


/* styling for contactus option */

.btn-primary {background-color: #bdb975;
    border: #F0EFEB;
    color: #fff;}

/* styling for bootstrap footer */
#final {
    background-color: #213C47;
    color: #fff;
    margin-bottom: 1em;
  }


/* styling for bootstrap social media icons */

.fa-linkedin {color: white;}
.fa-twitter {color: white;}
.fa-facebook {color: white;}